* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

.logo {
  max-width: 6rem;
}

.img-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.navbar {
  display: flex;
  gap: 3rem;
  a {
    font-size: 1.6rem;
    color: #f9faf8;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hero-img {
  max-width: 50rem;
  max-height: 25rem;
  object-fit: cover;
  width: 100%;
  height: auto;
  flex: 1;
}

.hero-text-container {
  flex: 1;
}

.hero-btn {
  background-color: #3882f6;
  color: #e5e7eb;
  margin-top: 1.5rem;
  display: inline-block;
  padding: 0.5rem 2.5rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-size: 1.6rem;

  &:hover {
    background-color: #1d5ed9;
  }
}

.hero-container {
  display: flex;
  gap: 2rem;
  padding: 7rem 0 10rem;

  h1 {
    color: #f9faf8;
    font-size: 4.8rem;
    font-weight: 900;
  }

  p {
    color: #e5e7eb;
    font-size: 1.8rem;
  }
}

.top-section-wrapper,
header {
  background-color: #1f2937;
  padding: 0 2rem;
}

.top-section-content-container,
.img-logo-container {
  max-width: 100rem;
  margin: 0 auto;
}

.destination-section-wrapper {
  max-width: 100rem;
  margin: 5rem auto 8rem;

  img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 3.6rem;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 5rem;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 3rem;

    li {
      display: block;
    }
  }
}

.citation-block {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 10rem 0;
  > div {
    display: flex;
    flex-direction: column;

    em {
      font-size: 3.6rem;
      font-weight: 300;
      color: #1f2937;
    }
    p {
      align-self: flex-end;
      color: #1f2937;
      font-weight: 900;
      margin-top: 1rem;
    }
  }
}

.call-to-action-section {
  background-color: #3882f6;
  color: #e5e7eb;
  max-width: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 9rem;
  margin: 6rem auto 6rem;
  border-radius: 0.5rem;

  a {
    color: #e5e7eb;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.5rem 2.5rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #e5e7eb;

    &:hover {
      text-decoration: underline;
    }
  }
}

.call-to-action-text {
  display: flex;
  flex-direction: column;

  p {
    font-size: 1.6rem;
  }

  p:first-child {
    font-weight: 900;
  }
}

footer {
  background-color: #1f2937;
  padding: 3rem 0;

  p {
    max-width: 100rem;
    margin: 0 auto;
    color: #e5e7eb;
    text-align: center;
    font-size: 1.2rem;
  }
}
